main {
	@include gridInherit;
}
.home__hero {
	@include gridInherit;
	height: 100vh;
	&__inner {
		grid-column: container;
		display: grid;
		grid-template-columns: 1fr;
		@include query("medium") {
			grid-template-columns: 7fr 5fr;
			gap: 1rem;
			justify-content: center;
			align-content: center;
		}
		.intro {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			@include query("medium") {
				max-width: 80%;
			}
			h1 {
				color: $color-white;
				font-weight: $font-bold;
				font-size: $font-size-heading-hero;
				line-height: 1.1em;
			}
			.content {
				padding: $spacer-lg 0 0 0;
				color: $color-white;
				line-height: 1.7em;
			}
		}
		.call-to-action {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			align-items: center;
			.cta {
				color: white;
				max-width: 80%;
				text-align: center;
				font-size: $font-size-heading-xl;
				font-weight: $font-bold;
				padding: 0 0 $spacer-lg 0;
			}
		}
	}
}
.home__forms {
	@include gridInherit;
	min-height: 100vh;
	margin: 0 0 200px 0;
	&__inner {
		grid-column: container;
		display: grid;
		grid-template-columns: 1fr;
		align-content: center;
		.form-intro {
			color: $color-white;
			margin: 0 0 $spacer-xl 0;
			ul li {
				list-style: disc;
				margin: 15px;
				padding: 5px;
			}
			h3 {
				font-size: $font-size-heading-lg;
				font-weight: $font-bold;
			}
		}
	}
}
