<footer class="footer">
	<nav>
		<div class="footer_nav">
			<p>© Copyright 2023 ReproTech. All Rights Reserved</p>
			<a href="tel:+18885863389">888-586-3389</a>
			<a href="https://www.reprotech.com/contact-map-page/">CONTACT US</a>
		</div>
	</nav>
</footer>
