<footer class="footer">
	<nav>
		<div class="footer_nav">
			<p>© Copyright 2023 CryoLogix. All Rights Reserved</p>
			<a href="tel:+18885863389">888-867-5309</a>
			<a href="mailto:info@cryologix.com">CONTACT US</a>
		</div>
	</nav>
</footer>
